/* Variables */
$color-primary: #A65e2e;
$color-secondary: #6f4c3e;
$color-light: #d9b68c;
$color-dark: #3b2a2a;
$color-white: #f5f5f0;

$text-head: "Rock Salt", cursive;
$text-body: "Poppins", sans-serif;
